* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: #000;
}

/* Header & Navigation */
.header-logo img {
    width: 152px;
    height: 80px;
}

.header {
    padding: 10px 10px 10px 10px;
    height: 90px;
    display: flex;
    border-bottom: 1px solid #F1ECEC;
}

.navigation ul li{
    display: inline-block;
    padding: 10px;
}

nav.navigation {
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
}

